* {
    text-decoration: none;
    box-sizing: border-box;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg: #e5e5e5;
    --bg2: #d8d8d8;
    --bg-home: #bd8c04;
    --bg-color-logo: #eeb20c;
    --bg-menu: #eeb20c;
    --bg-card-snacks: #ea1d2c;
    --bg-card-drinks: #b6d048;
    --bg-card: #d8a824;
    --color-text-one: #fff;
    --color-text-two: #000000;
    --color-text-three: #a87b00; 
  }



body,html{
    
    background: var(--bg-home);
}

.home {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-home {
   
    width: 250px;
}

.title-home {
    color: var(--color-text-one);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

button {
    border-radius: 2rem;
   border: none;
   background-color: var(--bg);
   height: 5rem;
   width: 100%;
   font-size: 1.5rem;
}
