@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & family= Satisfy & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & família= Kanit:ital,wght@1.300 &family= Satisfy & display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-decoration: none;

}


:root {
  --bg: #e5e5e5;
  --bg2: #d8d8d8;
  --bg3: #eeb30c;
  --bg-menu: #eeb20c;
  --color-open: #035500;
  --color-closed: #f00000e5;
  --color-text-one: #fff;
  --color-text-two: #000000;
  --color-text-for: #ea1d2c;
  --color-text-three: #464646; 
}


body {
    background: var(--bg);
}

header {
    font-family:  Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    padding: 1rem;
    background-color: var(--bg3);
   
}

main {
    margin-bottom: 10rem;
}


hr {
    border: none;
    height: 2px;
    background-color: var(--color-text-two);
}

p {
    color: var(--color-text-three);
}




.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2%;
}

.title-of-information {
    
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-menu);
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .nav-list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    
  }
  


  .list > a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 1rem;
    transition: all .4s;
    padding: 5px;
    color: var(--color-text-two);
  }
  
  .list > a:hover {
    border-radius: 5px;
    
    background-color: var(--bg);
  }
  
  

.section-of-schedules { 
    
    text-align: center;
}

.image-logo-from-snack-bar {
    width: 100%;
    max-width: 200px;
}

.schedules {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.title-open-or-closed {
    
    font-weight: bold;
}

.paragraph-schedules-from-snack-bar {
    padding-top: 1rem;
    color: var(--color-text-three);
}

.schedules-from-week {
    color: var(--color-text-two);
}


.contact {
    text-align: center;
}

.title-of-contacts {
     margin-top: 2rem;
    font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive;
}

.networks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    
}

.image-social-networks {
    padding-top: 1rem;
    
    width: 30px;
}

.frequent-questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.title-frequent-questions {
    text-align: center;
    padding-bottom: 3rem;
}

.question {
   text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: auto;
    width: 67%;
  }
  
.answer {
    color: var(--color-text-two);
}

  .question input,
  .question .answer { display: none }
  
  .question label {
    display: inline-block;
    font-weight: bold;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    color: var(--color-text-for);
  }
  
  .question input:checked ~ .answer {
    display: block
  }